/*
.react-flow - Outer container
.react-flow__renderer - Inner container
.react-flow__zoompane - Zoom & pan pane
.react-flow__selectionpane - Selection pane
.react-flow__selection - User selection
.react-flow__edges - Edges wrapper
.react-flow__edge - Edge element
.selected is added when edge is selected
.animated is added when edge is animated
.react-flow__edge-path - Edge element path
.react-flow__edge-text - Edge text
.react-flow__edge-textbg - Edge text background
.react-flow__connection - Connection line
.react-flow__connection-path - Connection line path
.react-flow__nodes - Nodes wrapper
.react-flow__node - Node element
.selected is added when edge is selected
-${type} is added (.react-flow__node-default, .react-flow__node-input, .react-flow__node-output)
.react-flow__nodesselection - Nodes selection
.react-flow__nodesselection-rect - Nodes selection rect
.react-flow__handle - Handle component
.react-flow__handle-bottom is added when position = 'bottom'
.react-flow__handle-top is added when position = 'top'
.react-flow__handle-left is added when position = 'left'
.react-flow__handle-right is added when position = 'right'
.react-flow__handle-connecting is added when connection line is above a handle
.react-flow__handle-valid is added when connection line is above a handle and the connection is valid
.react-flow__background - Background component
.react-flow__minimap - Mini map component
.react-flow__controls - Controls component
*/

body{
    --rf-back: #181818;
    --rf-node-back: rgba(0,0,0,0.5);
    --rf-minimap-back: rgba(255,255,255,0.1);
}

.react-flow{
    background-color: var(--rf-back);
}
.react-flow__node, .react-flow__node:hover{
    background-color: var(--rf-node-back);
    color: white;
    border: none;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3) !important;
    transition: box-shadow 300ms ease;
}
.react-flow__node.selected, .react-flow__node:hover.selected{
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3), 0px 0px 0px 2px red !important;
}
.react-flow__minimap{
    background-color: var(--rf-back);
}
.react-flow__minimap-mask{
    fill: var(--rf-minimap-back);
}
.react-flow__controls{
    background-color: var(--rf-back) !important;
}
.react-flow__controls-button{
    background-color: black;
    border-color: transparent;
}
.react-flow__controls-button:hover{
    background-color: #333;
}

.react-flow__controls-button svg path{
    fill: rgba(255,255,255,0.5);
}
.react-flow__controls-button:hover svg path{
    fill: white;
}

.react-flow__handle{
    border-color: #444 !important;
    background-color: #222 !important;
}
.react-flow__handle-connecting{
    border-color: #744 !important;
    background-color: #422 !important;
}
.react-flow__handle-valid{
    border-color: #474 !important;
    background-color: #242 !important;
}